[submodule "CasioEmuMsvc/asmjit"]
	path = CasioEmuMsvc/asmjit
	url = https://github.com/asmjit/asmjit
[submodule "cpu_features"]
	path = cpu_features
	url = https://github.com/google/cpu_features.git
[submodule "SDL"]
	path = SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "SDL_image"]
	path = SDL_image
	url = https://github.com/libsdl-org/SDL_image.git
